.middle-container {
    display: flex;
    justify-content: center;
    width: 100%;
}

.recipient-container {
    width: 100%;
    height: 14rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.recipient-buttons-container {
    display: flex;
    width: 80%;
    height: 6rem;
    justify-content: center;
    padding: 5px;
    border: 1px solid #A57C52;
    border-radius: 6px;
}

.recipient-button {
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: #fff;
}

.recipient-button:hover {
    background-color: #A57C52;
    transition: 0.9s ease-in-out;
    border-radius: 6px;
    color: #000;
}


