.intro-list li {
    padding-bottom: 0.5rem;
}

.final-selection-display h2 {
  margin: 1rem;
  font-family: "Antonio", sans-serif;
  font-weight: 900;
  font-size: 2rem;
}

.selection-details-list {
  background-color: #3a3c3d;
  width: 80%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: baseline;
  border: 1px solid #A67C52;
  padding: 1rem;
}

.selection-details-list li {
  display: flex;
  align-items: center;
  font-family: "Raleway", sans-serif;
  font-weight: 300;
  font-size: large;
}

.selection-span {
  margin-left: 3px;
  margin-right: 3px;
  color: #A67C52;
  font-weight: bold;
}

.cart-btn {
  width: 90%;
  margin-top: 0.7rem;
  display: flex;
  justify-content: end;
  font-family: "Raleway", sans-serif;
  font-display: bold;
}

@media screen and (max-width: 720px) {
  
}